<div id="tweet">
  <div id="row1" class="row">
    <div id="image" class = "col-md-2">
    	 <img src="/../../../assets/images/example.png" height="42" width="42"> 
    </div>
    <div id="text" class = "col-md-9">
    	<p>{{tweet.text}}</p>
    </div>
    <div class = "col-md-1">
      <img (click) = "like.emit(this.tweet)" src="/../../../assets/images/like.png" alt="like" />
      <p>{{tweet.like.length}}</p>
    </div>
  </div>
  <div id="row2" class="row">
  	<div id="author" class = "col-md-4" >
  		{{tweet.author}}
  	</div>
  	<div id="date" class = "col-md-offset-4 col-md-3">
  		{{tweet.date | date: 'dd/MM/yyyy'}}
  	</div>
    <div class = "col-md-1">
      <img (click) = "dislike.emit(this.tweet)" src="/../../../assets/images/dislike.png" alt="dislike" />
      <p>{{tweet.dislike.length}}</p>
    </div>
  </div>
</div>