#tweet {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   height: auto;
   min-width: 90%;
   padding: 5px;
   margin: 25px auto;
   box-sizing: border-box;
   resize: both;
   overflow: auto;
   


    background-color: #5177F2 ;

    background: #ECF0FF; /* For browsers that do not support gradients */    
    background: -webkit-linear-gradient(left top, #ECF0FF, white); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, #ECF0FF, white); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, #ECF0FF, white); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, #ECF0FF,white); /* Standard syntax (must be last) */
}

.date {
	font-weight: bold;
	font-size: 1.5em;
  font-family: 'steelfish';
}

.author {
	margin-bottom: 0px;
	font-weight: bold;
	font-size: 1.5em;
  font-family: 'steelfish';
}

.text {

  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 500;
  width: 90%;
}

.photo{
  width: 10%;
}
#image{
  height: 100px;
  width: 100px;
}


.opinions {

  background-color: red;
}

#dislikeImage {
    height: 30px;
    width: 30px;
}

#likeImage {
    height: 30px;
    width: 30px;
}

@font-face {
    font-family: 'steelfish'; /*a name to be used later*/
    src: url('../../assets/fonts/Fonts/steelfish_bd.otf'); /*URL to font*/
}


