#tweet {
   text-align: right;
   width: 90%;
   height: auto;
   padding: 5px;
   margin: 25px auto;
/*   box-shadow: 3px 3px 5px black;*/
   box-sizing: border-box;
   resize: both;
   overflow: auto;
   


    background-color: #5177F2 ;

  background: #ECF0FF; /* For browsers that do not support gradients */    
    background: -webkit-linear-gradient(left top, #ECF0FF, white); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, #ECF0FF, white); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, #ECF0FF, white); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, #ECF0FF,white); /* Standard syntax (must be last) */
}

#date {
	text-align: left;
	margin-bottom: 0px;
	font-weight: bold;
	font-size: 1.5em;
}

#author {
	text-align: left;
	margin-bottom: 0px;
	font-weight: bold;
	font-size: 1.5em;
}

#text {
	text-align: left;
}

#image{
	text-align: left;
}

#row1 {
  margin-right: 25px;
	height: 70%;
}

#row2 {
  margin-right: 25px;
	height: 30%;
}

img {
    height: 30px;
    width: 30px;
}

