
<div id="signupForm">
  <h1>Sign Up</h1>
  <form class="form-horizontal"  #signUpForm="ngForm">
    <!-- Success message -->
    <div *ngIf="success" class="form-group">
      <div class="alert alert-success col-md-offset-6 col-md-6">
        Succes authetification.
      </div>
    </div>
    <!-- Error message -->    
    <div *ngIf="err" class="form-group">
      <div class="alert alert-danger col-md-offset-6 col-md-6">
        Passwords don't match.
      </div>
    </div>
    <!-- Name -->   
    <div class="form-group">
      <label for="name" class = "control-label col-md-6">Name:</label>
      <div class="col-md-6">
        <input type="text" class="form-control" id="name" [(ngModel)]="name" name="name">
      </div>
    </div>
    <!-- Password --> 
    <div class="form-group">
      <label for="pass" class = "control-label col-md-6">Password:</label>
      <div class="col-md-6">
        <input type="password" class="form-control" id="pass" [(ngModel)]="pass" name="pass">
      </div>
    </div>
    <!-- Repeat Password -->
    <div class="form-group">
      <label for="repass" class = "control-label col-md-6">Repeat Password:</label>
      <div class="col-md-6">
        <input type="password" class="form-control" id="repass" [(ngModel)]="repass" name="repass">
      </div>
    </div>
    <!-- Button -->
    <button type="button" class="btn btn-default" (click)="newUser();signUpForm.reset()">Sign Up</button>
  </form>
</div>