
	<app-header [isLogged] = "isLogged"></app-header>
	<app-nav-bar [isLogged] = "isLogged" 
					 [hashtags] = "hashtags | async" 
					 (changeFilter)="changeFilter($event)" 
					 (logout)="logout()">
					 </app-nav-bar> 
<div id="appComponent">
	<div class = "row">
		<div class = "col-md-8">
			<app-feed [tweets] = "tweets | async" 
					  (like)="clickLike($event)"
					  (dislike)="clickDislike($event)"
					  >
					  </app-feed>
		</div>
		<div class = "forms" class = "col-md-4">
			<router-outlet></router-outlet>
		</div>
	</div>
</div>
