.navbar {
	color: #1C3A4E;
	/*border-radius: 25px;*/

    box-shadow: 3px 3px 5px black;

    background-color: #5177F2 ;

	background: #ECF0FF; /* For browsers that do not support gradients */    
    background: -webkit-linear-gradient(left top, #ECF0FF, white); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, #ECF0FF, white); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, #ECF0FF, white); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, #ECF0FF,white); /* Standard syntax (must be last) */
}

a.hover {
	background-color: red;
}	

.glyphicon-menu-hamburger {
    background: url(../../assets/images/menu.png);
}

#title {
    font-family: 'milka';
    font-size: 2em;
}

@font-face {
    font-family: 'milka'; /*a name to be used later*/
    src: url('../../assets/fonts/milka/Webfonts/milka/milkafree-regular-webfont.woff2'); /*URL to font*/
}
