.navbar {
	color: #1C3A4E;
	margin-right: 0px;
	margin-left: 0px;
	/*border-radius: 25px;*/
    border: 2px solid black;
    box-shadow: 3px 3px 5px black;

	   	background-color: #0922BB ;

	 background: #ECF0FF; /* For browsers that do not support gradients */    
    background: -webkit-linear-gradient(left top, #ECF0FF, #5177F2); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, #ECF0FF, #5177F2); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, #ECF0FF, #5177F2); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, #ECF0FF, #5177F2); /* Standard syntax (must be last) */
}

a.hover {
	background-color: red;
}	

.glyphicon-menu-hamburger {
  background: url(../../assets/images/menu.png);
}