	<nav id="navBar" class="container navbar">
	  <div class="container-fluid">

	    <ul class="nav navbar-nav">
	      <li><a (click)="changeFilter.emit($event)">ALL_TWEETS</a></li>
	      <li *ngFor="let item of hashtags">
	      	<a (click)="changeFilter.emit($event)">{{item.name}}</a>
	      </li>
	    </ul>

	    <ul class="nav navbar-nav navbar-right">
      	  <li>
      	  	<a [routerLink]="['/signup']" href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a>
      	  </li>
          <li *ngIf="isLogged===undefined">
          	<a [routerLink]="['/login']" href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a>
          </li>
          <li *ngIf="isLogged!=undefined">
          	<a [routerLink]="['/login']" (click) = "logout.emit()"><span class="glyphicon glyphicon-log-out"></span> Logout</a>
          </li>
   		</ul>

	  </div>
	</nav>