<div id="tweetForm">
  <h1>Tweet</h1>
    <!-- Success message -->
  <div *ngIf="success" class="form-group">
    <div class="alert alert-success alert-dismissable fade in">
    <a class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <span>Success! {{date}}</span> 
    </div>
  </div>
  <form #tweetForm="ngForm">
    <div class="form-group">
      <label>Content:</label>
      <br>
      <textarea #content type="text" name="content"></textarea>
    </div>
    <button type="button" class="btn btn-default" type="submit"
            (click)="writeTweet(content.value);tweetForm.reset()">
       WriteTweet
    </button>
  </form>
</div>