<div>
  <h1>TWEET</h1>
    <!-- Success message -->
  <div *ngIf="success" class="form-group">
    <div class="alert alert-success">
        Success {{date}}
    </div>
  </div>
  <form #tweetForm="ngForm">
    <div class="form-group">
      <label>Content:</label>
      <br>
      <textarea style = "width: 100%" #content type="text" name="content"></textarea>
    </div>
    <button type="button" class="btn btn-default" type="submit"
            (click)="writeTweet(content.value);tweetForm.reset()">
       WriteTweet
    </button>
  </form>
</div>